//
// Aleo Bold Italic
// https://www.behance.net/gallery/aleo-free-font-family/8018673
// ------------------------------------------------------

@font-face {
  font-family: 'Aleo';
  src: url('#{$aleo-font-path}/aleo-bolditalic.eot');
  src: url('#{$aleo-font-path}/aleo-bolditalic.eot?#iefix') format('embedded-opentype'),
       url('#{$aleo-font-path}/aleo-bolditalic.woff2') format('woff2'),
       url('#{$aleo-font-path}/aleo-bolditalic.woff') format('woff'),
       url('#{$aleo-font-path}/aleo-bolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
