//
// Aleo Light Italic
// https://www.behance.net/gallery/aleo-free-font-family/8018673
// ------------------------------------------------------

@font-face {
  font-family: 'Aleo';
  src: url('#{$aleo-font-path}/aleo-lightitalic.eot');
  src: url('#{$aleo-font-path}/aleo-lightitalic.eot?#iefix') format('embedded-opentype'),
       url('#{$aleo-font-path}/aleo-lightitalic.woff2') format('woff2'),
       url('#{$aleo-font-path}/aleo-lightitalic.woff') format('woff'),
       url('#{$aleo-font-path}/aleo-lightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
