//
// Aleo Bold
// https://www.behance.net/gallery/aleo-free-font-family/8018673
// ------------------------------------------------------

@font-face {
  font-family: 'Aleo';
  src: url('#{$aleo-font-path}/aleo-bold.eot');
  src: url('#{$aleo-font-path}/aleo-bold.eot?#iefix') format('embedded-opentype'),
       url('#{$aleo-font-path}/aleo-bold.woff2') format('woff2'),
       url('#{$aleo-font-path}/aleo-bold.woff') format('woff'),
       url('#{$aleo-font-path}/aleo-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
